<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>{% block titulo  %}Create Pedido {% endblock titulo  %}</title>
</head>
<body>
   <h1>{% block titulo1 %}Crear pedido {% endblock titulo1 %}</h1>
   
    <form action = "" method = "post">
        {% csrf_token %}
        {%block formulario %}
        {{ form.as_p }}
        <button type = "submit">Crear</button>
        {%endblock formulario%}
    </form>
    
</body>
</html>
